.body_background{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-yellow-tourism-trolley-case-to-chat-with-image_13961.jpg");
       background-position: center;
       background-size: cover;
}
.login_div{
    background-image: url("background_login.jfif");
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 70px;
}
h3,h4{
    color: ghostwhite;
}
.header
{
	color: rgb(0, 0, 0);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
