.body_background{
    background-image: url("background-chatapp.jpg");
       background-position: center;
       background-size: cover;
}
.login_div{
    background-image: url("background_login.jfif");
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 70px;
}
h3,h4{
    color: ghostwhite;
}
.header
{
	color: rgb(0, 0, 0);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
#logout
{
	font-size: 20px; float: right;
}
.bodyBackground{
    background-image: url("background-chatapp.jpg");
       background-position: center;
       background-size: cover;
}